/* Browswer Reset */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    ---color-primary: #333;
    ---color-dark: #000;
    ---color-light: #fff;
    --color-light-1: #eee;
}

html {
    font-size: 62.5%; /* 62.5% == 10px === 1rem */
}



/* COMPONENTS RESETTING */
a {text-decoration: none;}
img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
}

body {
    font-family:Rubik,sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: var(---color-dark);
}



.header {
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);

}

.header .logo {
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.app {
    width: 100%;
    position: relative;
}

.app-wrapper {
    width: 80%;
    height: 80vh;
    /* background-color: red; */
    margin: 2rem auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media only screen and (max-width: 769px) {
    .app-wrapper {
        width: 98% !important;
        /* background-color: red; */
    }
}




/* Feature Boxes */
.logo-feature {
    height: 90px;
    width: 90px;
    -o-object-fit: cover;
       object-fit: cover;
}

@media only screen and (max-width: 769px) {
    .logo-feature {
        height: 60px;
        width: 60px;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.feature-box-1, .feature-box-2, .feature-box-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.feature-box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
}
.feature-box-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.feature-box-3 .btn-download {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 10px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



@media only screen and (max-width: 769px) {
    .feature-box-3 .btn-download img{
       height: 75px;
       object-fit: cover !important;
       border-radius: 10px;
        -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
    }
}

.feature-box-3 span  {
    margin-top: .2rem;
}
.feature-box-3 span a {
    color: var(---color-dark);
    font-size: 1.4rem;
    margin-top: 2rem;
}

.feature-heading {
    font-size: 4rem;
}

@media only screen and (max-width: 769px) {
    .feature-heading {
        font-size: 3rem;
    }
}

.feature-desc {
    font-size: 1.6rem;

}

/* .item-2 {
    display: flex;
    justify-content: center;
} */

.feature-footer {
    text-align: center;
}
.feature-footer p {
    font-size: 1.4rem;
}

.feature-socials {
    width: 80%;
    margin: 3rem auto;
    /* background-color: red; */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media only screen and (max-width: 769px) {
    .feature-socials {
        width: 98%;
    }
}


.feature-socials a {
    margin: 0 1rem;
}


.social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(---color-dark);
}

.social-icon {
    height: 40px;
    width: 40px;
    background: rgba(157, 157, 157, 0.04);
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.4rem;
    position: relative;
}

.social-icon .fa-facebook {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: rgb(69, 69, 255);;

    display: -webkit-box;;

    display: -ms-flexbox;;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 100%;

}


.social-img {
    height: 6rem;
    -o-object-fit: cover;
       object-fit: cover;
}

.feature-social-text {
    font-size: 1.2rem;
    margin-top: .7rem;
    text-align: center;
}